---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="main-page-feed">
    <div>{%- assign feedType = page.feed-type -%}
      {%- assign displayOffset = 0 -%}
      {%- assign displayLimit = 1 -%}
      {%- assign sectionName = "featured-post" -%}
      {% include feed.html %}
    </div>
    <div>
      <!-- <h2 style="text-align: center;  margin-top: 10px;">Latest Posts</h2> -->
      {%- assign feedType = page.feed-type -%}
      {%- assign displayOffset = 1 -%}
      {%- assign displayLimit = 4 -%}
      {%- assign sectionName = "feed" -%}
      {% include feed.html %}
    </div>
    <div style="margin: 10px;">
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> 
    </div>
  </div>
    

</div>
 
